body {font-family: 'Rubik', sans-serif;}

.navbar-u {
    padding: 10px 0 10px 0;
    /* position: fixed; */
    width: 100%;
}
a {
    text-decoration: none;
    font-size: large;
}
p{font-size: large;}
code{font-size: large;}
li{font-size: large;}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #212529;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

.my-card:hover {
    background-color: rgba(0, 0, 0, .05);
    transform: scale(1.1);
}