body {font-family: 'Rubik', sans-serif;}
.bg-overlay {
    position: fixed;
    height: 75vh;
    width: 75vw;
    background-image: url('/static/images/coding-summit-icon-fin.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: .05;
    z-index: -1;
}
.navbar-u {
    padding: 10px 0 10px 0;
    width: 100%;
}
a {
    text-decoration: none;
    font-size: large;
}
p{font-size: large;}
code{font-size: large;}
pre {background-color: rgba(240, 240, 240, .45); border-radius: 10px; padding-top: 20px;}
li{font-size: large;}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #212529;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.showit{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}
.my-card:hover {
    background-color: rgba(0, 0, 0, .05);
    transform: scale(1.1);
}
.reg-trans {
    transition: 500ms;
}
.transition-fade {
    opacity: 1;
    transition: 250ms;
    transform: translateX(0);
    transform-origin: left;
}
html.is-animating .transition-fade {
    opacity: 0;
    transform: translateX(100vw);
}
html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(0);
}